 
{% import _self as menus %}

 
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      {% for item in items %}
          {%  set myclass = ['nav__item', ] %}
          <a  href="{{ item.url }}"  {{ item.attributes }} >
              {{ item.title }}
          </a>       
      {% endfor %}
    {% endif %}
  {% endif %}
{% endmacro %}
