<div class="cardpack">
     <div class="cardheader">
       <h2 class="title">{{ title }}</h2>
     </div> 
    {{ body|raw }}
  <a href="/abonneraupack/{{node.id}}" class="btn_choisir"> {{ 'choisir'|t }} </a>
</div>
 
 