<div class="pack_header">
        <div class="overlay"></div>
   	     	  <img src="{{ content.field_image|field_value }}" class="img-fluid">
				    {{ content.body|field_value }}
</div>

 <div class="main_pack_content">
         {{ content.field_contenu_wrapper|raw }}
 </div>