<div class="col-lg-auto  ml-auto d-lg-block  pr-lg-25px pl-lg-0">
	<i id="search-btn" class="flaticon-search"></i>
	<div class="mysearch">
		<div id="search-overlay" class="block">
		  <div class="centered">
		    <div id='search-box'>
		      <i id="close-btn" class="fa fa-times fa-2x"></i>
		       {{ content }}
		    </div>
		  </div>
		</div>
	</div>
</div>