<div class="col-lg-2">
    <h3 class="footer__menu-title bold pb-4 pt-4 mb-0">
      {{' Paiement sécurisé'|t }}
      <i class="footer__title-icon d-lg-none"></i>
    </h3>
        {{ content }}
</div>

