
<div class="populaire_archive populaire">
	<h2 class="populaire__title box_title">
		{{ label }}
    </h2>

    {{ content }}
</div>

 <div class="pg_numero_content pb_88 text-center ">
		<div class="container">
			 <a href="#"  id="pg_numero_link"> {{ 'Voir tout'|t  }}</a>
		</div>
</div>


