<div class="slider-bottom-panel-two">
    <div class="container">
       <div class="slider-bottom-two">
            <div class="main"> 
                        <div class="input-group">
                           {{ content }}
                       </div>
                        <!--(boutton scroll ) -->
                            <a href="#comment-ca-marche" class="scroll  scroll_how_make mt-5 pt-3">
                              <div class="camarchce_item_img"></div> 
                            </a>
              </div>
         </div>
     </div>
 </div>