  <div class="col-lg-6 text-center text-lg-right order-lg-last pb-3 pb-lg-0"> {{ 'Suivez Nous'|t }}		    
	    {% for item in items %}	 
	              {{ item.content }}	  
	    {% endfor %}	
 </div> 